<header class="header">
    <div class="header__container">
        <nav class="navigation">
            <ul class="navigation__list">
                <li class="navigation__item"><a href="/static" class="navigation__link">Главная</a></li>
                <li class="navigation__item"><a href="/about" class="navigation__link">О нас</a></li>
                <li class="navigation__item"><a href="/services" class="navigation__link">Услуги</a></li>
                <li class="navigation__item"><a href="/contact" class="navigation__link">Контакты</a></li>
                <li class="navigation__item"><a href="/contact" class="navigation__link">Контакты</a></li>

            </ul>
        </nav>
    </div>
</header>
